.css-1wlk0hk-MuiAvatar-root{
  width: 100px !important;
  height: 100px !important;
  
}

.css-1wlk0hk-MuiAvatar-root_small{
  width: 50px !important;
  height: 50px !important;
  
}

.css-1wlk0hk-MuiAvatar-root_medium{
  width: 70px !important;
  height: 70px !important;
  
}