.avatar {
  color: orangered;
}

.css-2s90m6-MuiAvatar-root_large {
  width: 80px !important;
  height: 80px !important;
}
.css-2s90m6-MuiAvatar-root_small {
  width: 50px !important;
  height: 50px !important;
}

.css-2s90m6-MuiAvatar-root_medium {
  width: 60px !important;
  height: 60px !important;
}


